{% extends 'base.html.twig' %}

{% block title %}Mes Adresses{% endblock %}

{% block content %}
    <a href="" class="btn btn-outline-info btn-sm float-right">ajouter une adresse</a>
    <h1>adresses</h1>
    {% if app.user.adresses|length ==0 %}
        <p class="text-center mt-5 mb-5">Vous m'avez pas encore mit d'adresses </p>
        {% else %}
    {% endif %}
    <a href="{{ path('account') }}">retour</a>
{% endblock %}
