{% extends 'base.html.twig' %}

{% block title %}modifier mon mot de passe{% endblock %}

{% block content %}
    <h1>modifier mon mot de passe</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
<a  href="{{ path('account') }}">mon compte</a>
    {{ form(form) }}
{% endblock %}
