{% extends 'base.html.twig' %}

{% block title %}compte!{% endblock %}

{% block content %}
    <h1>bonjour {{ app.user.firstname }}</h1>
    <a  style="text-decoration:none ; color:darkblue" href="{{ path('account_password') }}">modifier mon mot de passe</a>
    <br>
    <a  style="text-decoration:none ; color:darkblue" href="{{ path('account_address') }}">modifier mes adresses</a>
    <br>
    <a   href="{{ path('account_order') }}">mes commandes</a>
{% endblock %}


